.signInPage {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(https://t3.ftcdn.net/jpg/02/62/71/08/360_F_262710803_CAKuDCLCdRsNLRhyI6hollZZmQrziJrk.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.border-effect {
    position: relative;
    color: #337ab7;
    text-decoration: none;
}

.border-effect::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #102a44;
    content: "";
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.border-effect:hover {
    text-decoration: none;
    color: #000;
}

.border-effect:hover::after {
    width: 100%;
}


.signInPage .box {
    width: 400px;
    height: auto;
    background: #f2fcfb;
    margin: auto;
    position: relative;
    z-index: 100;
    border-radius: 10px !important;
}

.signInPage .box h2 {
    font-size: 25px;
    font-weight: 600;
}

.signInPage .box form {
    padding: 20px 30px;
}

.signInPage .box .form-group {
    margin-bottom: 15px;
}

.signInPage .box .txt {
    font-size: 14px;
    font-weight: bold;
}

.loginWithGoogle {
    width: 100%;
    font-weight: bold !important;
    color: rgba(0, 0, 0, 0.8) !important;
    padding: 9px 0 !important;
}

.loginWithGoogle img {
    width: 25px;
    margin-right: 10px;
}
