
.homeCat {
    padding: 35px 0px;
}

.homeCat .swiper {
    overflow: inherit !important;
}

.homeCat .swiper .item {
    padding: 15px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.homeCat .swiper .item img {
    width: 80%;
}

.homeCat .swiper-button-prev,
.homeCat .swiper-button-next {
    top: -30px !important;
    width: 30px !important;
    height: 30px !important;
}

.homeCat .swiper-button-prev {
    right: 68px !important;
    left: inherit !important;
}

.homeCat .swiper-button-prev::after,
.homeCat .swiper-button-next::after {
    font-size: 12px !important;
}