.signUpPage .box {
    width: 500px;
}

.loginWithGoogle {
    width: 100%;
    font-weight: bold !important;
    color: rgba(0, 0, 0, 0.8) !important;
}

.loginWithGoogle img {
    width: 30px;
    margin-right: 10px;
}