@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  font-size: 15px;
}

.bg-blue {
  background: #6d4aae;
}

@media (min-width: 1300px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1280px;
  }
}

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {
  z-index: 1000000 !important;
}

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root .MuiPaper-elevation {
  max-height: 350px !important;
  width: 280px !important;
}

button .MuiCircularProgress-root {
  width: 30px !important;
  height: 30px !important;
}

button svg {
  color: #fff;
}

button {
  text-transform: capitalize !important;
}

.btn-blue {
  background: #6d4aae !important;
  color: #fff !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  padding: 5px 20px !important;
}

.bg-red {
  background: #ed174a !important;
}

.text-red {
  color: #ed174a !important;
}

.text-blue {
  color: #53348c !important;
}

.btn-blue:hover {
  background: #53348c !important;
}

.btn-big {
  font-size: 15px !important;
  padding: 8px 30px !important;
  min-width: auto !important;
  font-weight: bold !important;
}

.btn-round {
  border-radius: 30px !important;
}

.btn-blue svg {
  font-size: 22px;
}

.btn-sml {
  font-size: 12px !important;
  color: #000;
  text-transform: capitalize !important;
}

.btn-sml svg {
  font-size: 20px;
}

.btn-circle {
  border-radius: 50% !important;
  min-width: auto !important;
}

.cursor {
  cursor: pointer;
}

.text-light {
  color: #8b8b8b !important;
}

.text-sml {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

.close {
  opacity: 1 !important;
}

.closeSearch {
  display: none;
}

.MuiDialog-container .MuiPaper-root {
  max-height: calc(100% - 25px);
}

.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: none !important;
}

.slick-dots li button:before {
  opacity: 0.5 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
}

.slick-dots li button:before {
  font-size: 8px !important;
}

.close_ {
  position: absolute !important;
  top: 10px;
  right: 10px;
  color: #000 !important;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: #f1f1f1 !important;
}

.close_ svg {
  font-size: 22px;
  color: #000 !important;
  opacity: 0.7;
}

.swiper-button-next {
  right: 3% !important;
  position: absolute;
  top: 45%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px !important;
  height: 45px !important;
  background: #fff;
  border-radius: 100%;
  font-family: FontAwesome !important;
  font-weight: bold;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}

.swiper-button-prev {
  left: 3% !important;
  position: absolute;
  top: 45%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px !important;
  height: 45px !important;
  background: #fff;
  border-radius: 100%;
  font-family: FontAwesome !important;
  font-weight: bold;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #000 !important;
  opacity: 0.8;
  font-size: 17px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #e7e7e7 !important;
}

.hd {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.swiper {
  padding-right: 2px !important;
}

.badge-primary {
  background: #2bbef9 !important;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0)
  }

  100% {
    transform: translateY(-4px)
  }
}

@keyframes mover {
  0% {
    transform: translateY(0)
  }

  100% {
    transform: translateY(-4px)
  }
}



.sticky {
  position: sticky;
  top: 85px;
  z-index: 100;
}

.MuiRadio-root {
  zoom: 85% !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 2px !important;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 13px !important;
}

.css-i4bv87-MuiSvgIcon-root {
  width: 20px !important;
  height: 20px !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #6d4aae !important;
}

.range-slider {
  height: 5px !important;
}

.range-slider .range-slider__thumb,
.range-slider .range-slider__range {
  background: #6d4aae !important;
}

.range-slider .range-slider__thumb {
  width: 15px !important;
  height: 15px !important;
}

.loading {
  width: 100%;
  height: 300px;
}


.section {
  padding: 45px 0px;
}

.progressBarBox {
  margin-bottom: 10px;
}

.progress-bar {
  font-size: 16px;
}

.reviewsCard .info p {
  font-size: 13px;
  line-height: 22px;
}

.remove {
  cursor: pointer;
}

.remove svg {
  font-size: 30px;
}

.remove:hover svg {
  color: #ed174a !important;
}

.snackbar {
  right: 20px !important;
  left: inherit !important;
  z-index: 100000000 !important;
}

.paymentPage {
  padding: 80px 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.infinite-scroll-component__outerdiv {
  width: 100% !important;
}

.MuiPagination-root button svg {
  color: #000 !important;
}