@media only screen and (min-width:320px) and (max-width:992px) {
  body,
  html {
    overflow-x: hidden;
  }

  body {
    padding-bottom: 45px !important;
  }

  .container {
    max-width: 100% !important;
  }

  .closeSearch {
    display: block;
    font-size: 20px;
  }

  .logo {
    margin: auto;
  }

  .product_row .swiper {
    padding-right: 0px !important;
  }

  .product_row {
    margin: 0px !important;
  }

  .sidebar .closeFilters svg {
    font-size: 25px;
    opacity: 0.6;
  }

  .fixedBtn {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    padding: 15px;
    z-index: 10000;
    background: #fff;
    margin: auto !important;
  }

  .fixedBtn .col button {
    width: 100% !important;
  }

  .btnActions {
    padding-top: 15px;
    position: relative;
    width: 100% !important;
  }

  .detailsPageTabs {
    margin-top: 0px !important;
  }

  .cartDetails {
    margin-top: 15px;
  }

  table th {
    white-space: nowrap !important;
  }

  .myAccBox .col-md-8 {
    margin-top: 25px !important;
  }

  .linksWrap {
    margin-top: 25px !important;
  }

  .productModal .MuiPaper-elevation {
    width: 100% !important;
    max-width: 900px !important;
    margin: 10px !important;
  }

  .tabContent table * {
    white-space: nowrap;
  }

  .productItem .info h4 {
    white-space: initial !important;
  }

  .cartPage .col-md-9.pr-5 {
    padding-right: 15px !important;
  }

  .homeCat .swiper .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .productScroller+div.mt-4 {
    margin-top: 0px !important;
  }
  .homeCat .swiper .item {
    width: 80px !important;
    height: 80px !important;
  }
}
@media only screen and (min-width:320px) and (max-width:350px) {
  .homeCat .swiper .item {
    height: 130px;
  }
}
@media only screen and (min-width:320px) and (max-width:575px) {
  .empty {
    padding-top: 30px !important;
  }

  .empty img {
    width: 90px !important;
  }

  .locationModal .MuiPaper-elevation {
    max-width: 95% !important;
    width: 95% !important;
  }

  .logo img {
    margin: auto;
    width: 120px !important;
  }

  .productSize {
    padding-bottom: 0px !important;
  }

  .detailsPageTabs {
    padding: 20px !important;
  }

  .countryDrop {
    width: 100% !important;
  }

  .homeCat .swiper .item {
    width: 100px !important;
    height: 100px !important;
  }

}
@media only screen and (min-width:320px) and (max-width:767px) {
  .viewAllBtn {
    width: 100px !important;
    font-size: 13px !important;
    padding: 5px 12px !important;
  }

  header .circle {
    min-width: 40px !important;
    width: 40px !important;
    height: 35px !important;
    margin-right: 8px !important;
    border-radius: 100% !important;
  }

  .cartTab .position-relative.ml-2 {
    margin-left: 0px !important;
  }

  .cartTab button svg {
    font-size: 20px !important;
  }

  #accDrop ul li {
    padding: 5px 12px !important;
    font-size: 14px !important;
  }

  .quantityDrop {
    width: 100% !important;
  }

  .empty h3 {
    text-align: center;
    font-size: 18px !important;
  }

}
@media only screen and (min-width:575px) and (max-width:767px) {
  .productSize {
    padding-bottom: 0px !important;
  }

  .productItem .img_rapper img {
    height: 100% !important;
    object-fit: cover !important;
  }
}