.countryDrop {
    width: 170px;
    height: 50px;
    min-width: 170px;
    color: #000 !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 7px !important;
    padding: 10px 15px !important;
}

.countryDrop:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.09);
}

.countryDrop {
    text-align: left;
    justify-content: flex-start !important;
}

.countryDrop .label {
    font-size: 12px !important;
    text-transform: capitalize !important;
    color: rgba(0, 0, 0, 0.4) !important;
    line-height: 16px;
}

.countryDrop .name {
    font-size: 14px !important;
    text-transform: capitalize !important;
    color: #6d4aae !important;
    font-weight: 700;
    line-height: 16px;
}

.countryDrop span.ml-auto svg {
    opacity: 0.7;
}

.locationModal .MuiPaper-elevation {
    padding: 25px;
    position: relative;
}

.locationModal .MuiPaper-elevation h4 {
    font-size: 18px;
    font-weight: 600;
}

.locationModal .MuiPaper-elevation p {
    font-size: 13px;
}

.locationModal .countryList {
    margin-bottom: 0px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.locationModal .countryList li {
    width: 100%;
    list-style: none;
}

.locationModal .countryList li button {
    width: 100%;
    text-transform: capitalize !important;
    color: #000 !important;
    justify-content: flex-start !important;
    padding: 10px 20px !important;
}

.locationModal .countryList li button:hover {
    background: #f1f1f1;
}

.locationModal .countryList li button.active {
    background: #6d4aae !important;
    color: #fff !important;
}