.close_ {
    position: absolute !important;
    top: 10px;
    right: 10px;
    color: black !important;
    min-width: 40px !important;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
}

.close_ svg {
    font-size: 22px;
}


.productModal .MuiPaper-elevation {
    padding: 25px;
    position: relative;
    max-width: 900px !important;
    width: 900px !important;
}

.productModal h4 {
    font-size: 22px !important;
    color: rgba(0, 0, 0, 0.8) !important;
}

.productModal .actions {
    position: relative;
    flex-direction: row;
    right: 0;
}

.productModal .actions button {
    color: black !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    font-size: 10px !important;
    width: auto;
}

.productModal .actions button svg {
    font-size: 18px !important;
    margin-right: 4px;
}

.productModal .actions button:hover {
    background: #f1f1f1;
    color: #f1f1f1 !important;
}

.productZoom {
    width: 100%;
    height: auto;
    padding: 0px;
    overflow: hidden;
    border-radius: 15px;
}

.productZoom .badge {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.zoomSliderBig {
    width: 100% !important;
}

.zoomSlider {
    padding-top: 30px;
}

.zoomSlider .slick-slide {
    padding-right: 20px !important;
}

.zoomSlider * {
    outline: none !important;
}

.zoomSlider .item {
    border: 2px solid transparent !important;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}

.zoomSlider .slick-current .item {
    border: 2px solid #3bb77e !important;
}

.zoomSlider .slick-arrow {
    top: 55% !important;
    zoom: 80% !important;
}

.zoomSlider .slick-arrow.slick-next {
    right: -2% !important;
}

.zoomSlider .slick-arrow.slick-prev {
    left: -5% !important;
}

.productDetaileModal .badge {
    position: sticky;
}


.btn-blue {
    background: #233a95 !important;
    color: white !important;
    text-transform: capitalize;
}

.btn-blue svg {
    font-size: 22px;
}

.btn-big {
    font-size: 15px !important;
    padding: 8px 30px !important;
    min-width: auto !important;
    font-weight: bold;
}

.btn-round {
    border-radius: 30px !important;
}

.btn-sml {
    font-size: 12px !important;
    color: black;
    text-transform: capitalize !important;
}

.btn-sml svg {
    font-size: 20px;
}

.quantityDrop {
    width: 150px;
    gap: 10px;
}

.quantityDrop button {
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background: #edeef5 !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: #000 !important;
}

.quantityDrop button svg {
    color: #000 !important;
}

.quantityDrop input {
    width: 30px;
    border: 0px;
    background: transparent;
    outline: none !important;
    text-align: center;
}