.homeBannerSection {
    position: relative;
}

.homeBannerSection .swiper {
    overflow: inherit !important;
}

.homeBannerSection .swiper .item {
    overflow: hidden;
    border-radius: 10px;
}

.homeBannerSection * {
    outline: none !important;
}