.cartPage .table thead {
    background: #e3e3e3 !important;
    overflow: hidden;
}

.cartPage .table thead th {
    border: 0px !important;
}

.cartPage .table thead th:first-child {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.cartPage .table thead th:last-child {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

a:hover {
    text-decoration: none;
}

.cartItemingWrapper {
    width: 280px;
}

.cartItemingWrapper .imgWrapper {
    width: 100px;
    overflow: hidden;
}

.cartItemingWrapper .info a:hover {
    text-decoration: none;
}

.cartItemingWrapper .info h6 {
    color: #343434;
    font-weight: bold;
}

.cartItemingWrapper .info h6:hover {
    color: #ed174a !important;
}

.remove {
    cursor: pointer;
}

.remove svg {
    font-size: 30px;
}

.remove:hover svg {
    color: #ed174a !important;
}

.cartPage .quantityDrop button {
    zoom: 75%;
}

.cartPage table th,
.cartPage table td {
    vertical-align: middle;
}

.cartPage .table td,
.cartPage .table th {
    border-top: 0px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.cartPage table tbody tr:hover {
    background: #fafafa;
}

.cartDetails {
    border-radius: 7px !important;
    position: sticky;
    top: 20px;
}

.cartDetails h4 {
    font-size: 16px;
    padding-bottom: 15px;
    font-weight: 800 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cartDetails span {
    /* Buraya əlavə stil verilə bilər */
}

.cartPage .imgWrapper {
    width: 40%;
}