.signInPage .box {
    width: 400px;
    height: auto;
    background: #fff;
    margin: auto;
    position: relative;
    z-index: 100;
    border-radius: 10px !important;
}

.signInPage .box h2 {
    font-size: 25px;
    font-weight: 600;
}

.signInPage .box form {
    padding: 20px 30px;
}

.signInPage .box .form-group {
    margin-bottom: 15px;
}

.signInPage .box .txt {
    font-size: 14px;
    font-weight: bold;
}

.signInPage {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.signInPage .shape-bottom {
    position: absolute;
    top: auto;
    bottom: -6px;
    left: 0;
    right: 0;
    z-index: 1;
}

.signInPage::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(#46277e, #583991);
    opacity: 0.9;
    z-index: -1;
}


@media only screen and (min-width:320px) and (max-width:992px) {
    .signInPage {
        height: auto !important;
    }

    .signInPage .box {
        width: 100% !important;
    }

    .signInPage .box form {
        padding: 20px 10px !important;
    }

    .signInPage .box form button {
        margin-bottom: 10px;
    }
}