.haederWrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header {
    width: 100%;
    height: auto;
    padding: 25px 0px;
}

.logoWrapper img {
    width: 100%;
}


.circle {
    align-items: center !important;
    justify-content: center !important;
    min-width: 45px !important;
    height: 45px;
    width: 45px;
    border-radius: 50% !important;
}

.circle svg {
    font-size: 22px;
}

.cartTab button {
    background: #fff1ee;
}

.cartTab button svg {
    color: #ea2b0f;
}

.price {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
}

.count {
    position: absolute;
    top: -6px;
    right: -4px;
    background-color: #ea2b0f;
    border-radius: 50%;
    color: white;
    width: 20px;
    height: 20px;
}
