.homeBannerSection {
    position: relative;
}

.homeBannerSection * {
    outline: none !important;
}

.homeBannerSection .swiper {
    overflow: inherit !important;
}

.homeBannerSection .swiper .item {
    overflow: hidden;
    border-radius: 10px;
}

.homeBannerSection .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px !important;
    height: 40px !important;
    background-color: #444444 !important;
    border-radius: 100%;
    font-family: FontAwesome !important;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0 0 0 / 12%), 0 1px 2px rgba(0 0 0 / 24%) !important;
}

.homeBannerSection .slick-next {
    right: 45px !important;
}

.homeBannerSection .slick-prev {
    left: 45px !important;
}

.homeBannerSection .slick-next::before {
    color: white;
    font-family: FontAwesome !important;
}

.homeBannerSection .slick-prev::before {
    color: white;
    font-family: FontAwesome !important;
}

