.newsLetterSection {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom right, #4a2888, #7a55c1);
    position: relative;
    overflow: hidden;
    padding: 60px 0px;
}

.newsLetterSection .col-md-6 {
    position: static !important;
}

.newsLetterSection p {
    font-size: 18px;
    margin: 10px 0px !important;
}

.newsLetterSection h3 {
    font-size: 40px;
    font-weight: bold;
}

.newsLetterSection p.text-light {
    color: #fff !important;
    opacity: 0.7;
    font-size: 15px;
}

.newsLetterSection img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 500px;
}

.newsLetterSection form {
    width: 80%;
    height: 60px;
    background: #fff;
    padding: 10px;
    position: relative;
    border-radius: 5px;
}

.newsLetterSection form svg {
    position: absolute;
    top: 17px;
    left: 10px;
    font-size: 25px;
    opacity: 0.3;
}

.newsLetterSection form input {
    width: 100%;
    height: 100%;
    background: #fff !important;
    outline: none !important;
    border: 0px !important;
    padding-left: 40px;
    padding-right: 200px;
}

.newsLetterSection form button {
    position: absolute;
    top: 6px;
    right: 7px;
    background: #6d4aae !important;
    font-size: 14px !important;
    padding: 12px 25px !important;
    color: #fff !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;
}

footer {
    width: 100%;
    height: 500px;
    margin: auto;
    background: #fff;
    padding: 25px 0px;
}

footer .topInfo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

footer .topInfo .col {
    padding: 10px 15px;
    padding-left: 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

footer .topInfo .col:last-child {
    border-right: 0px;
}

footer .topInfo .col svg {
    font-size: 26px;
}

footer .topInfo .col span {
    font-size: 14px;
    font-weight: 600;
}


footer .linksWrap h5 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bolder;
    color: #7a55c1 !important;
}

footer .linksWrap ul li {
    list-style: none;
    margin-bottom: 10px;
}

footer .linksWrap ul li a {
    color: #4e556e;
    font-size: 13px;
}

footer .linksWrap ul li a:hover {
    text-decoration: none;
    color: #000;
}


.socials li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.socials li a svg {
    font-size: 16px;
    color: #7a55c1;
}

.socials li a:hover {
    background: #6d4aae !important;
}

.socials li a:hover svg {
    color: #fff !important;
}

@media only screen and (min-width:320px) and (max-width:992px) {

    footer {
        overflow: hidden;
    }

    footer .topInfo {
        display: block !important;
        white-space: nowrap !important;
        overflow: scroll !important;
        overflow-y: hidden !important;
    }

    footer .topInfo::-webkit-scrollbar {
        display: none !important;
    }

    footer .topInfo .col {
        width: 250px !important;
        max-width: 250px !important;
        flex: 0 0 250px !important;
        display: inline-block !important;
    }

    footer .linksWrap {
        display: block !important;
        white-space: nowrap !important;
        overflow: scroll !important;
        overflow-y: hidden !important;
    }

    footer .linksWrap::-webkit-scrollbar {
        display: none !important;
    }

    footer .linksWrap .col {
        width: 200px !important;
        max-width: 200px !important;
        flex: 0 0 200px !important;
        display: inline-block !important;
    }

    .newsLetterSection {
        padding: 25px 0px !important;
    }

    .newsLetterSection img {
        display: none !important;
    }

}

@media only screen and (min-width:320px) and (max-width:767px) {

    .copyright {
        flex-direction: column;
        justify-content: center;
    }

    .copyright * {
        text-align: center !important;
        margin: auto !important;
    }

    .copyright ul {
        padding-top: 10px !important;
    }

    .copyright ul li {
        margin: 0px 5px !important;
    }

    .newsLetterSection h3 {
        font-size: 30px !important;
    }

    .newsLetterSection p br {
        display: none !important;
    }

    .newsLetterSection form {
        width: 100% !important;
    }
}