footer {
    width: 100%;
    height: 500px;
    margin: auto;
    background: #fff;
    padding: 25px 0px;
}

footer .topInfo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

footer .topInfo .col {
    padding: 10px 15px;
    padding-left: 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

footer .topInfo .col:last-child {
    border-right: 0px;
}

footer .topInfo .col svg {
    font-size: 26px;
}

footer .topInfo .col span {
    font-size: 14px;
    font-weight: 600;
}

footer .linksWrap h5 {
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 600;
}

footer .linksWrap ul li {
    list-style: none;
    margin-bottom: 10px;
}

footer .linksWrap ul li a {
    color: #71778e;
    font-size: 13px;
}

footer .linksWrap ul li a:hover {
    text-decoration: none;
}

footer .copyright ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

footer .copyright ul li a svg {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

footer .copyright ul li a:hover {
    background: #2b8bef !important;
}

footer .copyright ul li a:hover svg {
    color: #fff !important;
}