.signUpPage .box {
    width: 500px;
}

.signUpPage .btn-box .row {
    display: flex;
    justify-content: space-between;
}

.signUpPage .btn-box .row button,
.signUpPage .btn-box .row a {
    width: 48%;
}