.homeBannerSection {
    position: relative;
    overflow: hidden;
}

.homeBannerSection * {
    outline: none !important;
}

.homeBannerSection .slick-arrows {
    position: absolute;
    top: 45%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px !important;
    height: 40px !important;
    background-color: black !important;
}

.homeBannerSection .slick-arrow .slick-next {
    right: 0px !important;
}

.homeBannerSection .slick-arrow .slick-prev {
    left: 0px !important;
}