.allCatTab {
    background: #2bbef9 !important;
    padding: 10px 15px !important;
    border-radius: 30px !important;
}

.allCatTab * {
    color: white;
}

.allCatTab:hover {
    background: #2bbef9;
}

.allCatTab .text {
    font-weight: 600;
}

.allCatTab svg {
    font-size: 20px;
}

.icon1 svg {
    font-size: 20px;
}

.icon2 svg {
    font-size: 15px;
}

.navPart1 {
    max-width: 20%;
    flex: 0 0 20% !important;
    padding-right: 4px;
}

.catWrapper {
    position: relative;
}

.sideBarNav {
    width: 100%;
    height: 0px;
    opacity: 0;
    background: white;
    position: absolute;
    top: 168%;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 0px;
    transition: all 0.2s;
    visibility: hidden;
    z-index: 100;
}

.open {
    height: auto;
    opacity: 1;
    visibility: inherit;
}

.sideBarNav ul li {
    width: 100%;
    list-style: none;
    padding: 0px 10px;
    position: static;
}

.sideBarNav ul li .submenu {
    position: absolute;
    left: 102%;
    top: 0;
    width: 250px;
    height: 100%;
    background: white;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.sideBarNav ul li .submenu button {
    border-radius: 0px !important;
}

.sideBarNav ul li button {
    color: black;
    width: 100%;
    justify-content: flex-start;
    text-transform: capitalize !important;
}

.sideBarNav ul li button svg {
    font-size: 12px;
    opacity: 0.6;
}

.sideBarNav ul li:hover .submenu {
    opacity: 1;
    visibility: inherit;
    left: 100%;
}

.sideBarNav ul li button:hover {
    background: transparent !important;
}

.navPart2 {
    max-width: 80%;
    flex: 0 0 80% !important;
}

.navPart2 ul {
    margin-bottom: 0px;
}

.navPart2 ul li {
    position: relative;
    padding-bottom: 20px;
}

.navPart2 ul li:hover .submenu {
    opacity: 1;
    visibility: inherit;
    top: 100%;
}

.navPart2 ul li a {
    text-decoration: none;
}

.navPart2 ul li a button {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    transition: all 0.2s ease-in-out;
    border-radius: 25px;
}

.navPart2 ul li a:hover {
    background-color: #f0faff;
    color: #2bbef9;
}

.submenu {
    position: absolute;
    top: 150%;
    left: 0;
    min-width: 200px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    z-index: 100;
}

.submenu a {
    display: block;
    width: 100%;
}

.submenu a button {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0px !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;
}

.submenu a button:hover {
    background: #f1f1f1 !important;
}