td .info p {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #5e5d72;
    margin-bottom: 0px;
}


table.v-align td .productBox {
    width: 270px;
}

body.dark .MuiTablePagination-root {
    background: #223661 !important;
}


.tableFooter {
    padding-bottom: 20px;
}

.tableFooter p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
}

.tableFooter .pagination {
    margin-left: auto;
}

.tableFooter p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
}


.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #0858f7 !important;
}



.loginSection {
    width: 100%;
    height: 100vh;
    padding: 35px 25px;
    background: #fff;
    position: relative;
}



.loginPatern {
    width: 100%;
    height: 100%;
    opacity: 0.1;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    pointer-events: none;
}


.toggleShowPassword {
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
}

.toggleShowPassword svg {
    font-size: 22px;
    color: #5e5d72;
}


.loginWithGoogle {
    text-transform: capitalize !important;
    font-weight: bold !important;
}

body.dark .MuiTableBody-root .MuiTableCell-root {
    border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}


table.v-align td {
    vertical-align: middle !important;
}

.table td .old,
.table td .new {
    display: block;
    width: 100%;
}

td .imgWrapper {
    width: 50px;
}

td .imgWrapper .card {
    border-radius: 5px !important;
    overflow: hidden !important;
    height: 50px;
}

td .info {
    width: 150px;
}

td .info h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
}