::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.cursor {
    cursor: pointer;
}

.text-light {
    color: #8b8b8b !important;
}

.text-red {
    color: #ed174a !important;
}

.text-blue {
    color: #233a95;
}

.text-sml {
    font-size: 14px;
    font-weight: 600;
}

.badge {
    display: inline-block;
    padding: 7px 10px;
    border-radius: 20px;
}

.badge.bg-success {
    background-color: #e5f8ed !important;
    color: #16b858 !important;
}


.badge-success {
    color: #00b853;
    background: #e5f8ed;
}

.btn-circle {
    border-radius: 50% !important;
    min-width: auto !important;
}