.section {
    padding: 45px 0;
}

.productDetails h2.hd {
    font-size: 26px;
}

.productDetails h3.hd {
    font-size: 18px !important;
}

.productDetails .oldPrice {
    font-size: 20px;
}

.productDetails .netPrice {
    font-size: 22px;
}

.productSize {
    width: 100%;
    padding: 25px 0;
}

.productSize ul li {
    margin-right: 10px !important;
}

.productSize ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px !important;
    cursor: pointer;
    color: #000;
    font-size: 14px !important;
    text-decoration: none !important;
    transition: 0.1s ease-in-out;
}

.productSize ul li a:hover {
    background: #ececec;
}

.productSize ul li a.active {
    background: #233a95 !important;
    color: #fff !important;
}

.productDetails .btn-circle {
    width: 40px !important;
    height: 40px !important;
    min-width: 40px !important;
    border-radius: 50% !important;
    background: #edeef5 !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: #000;
    padding: 5px !important;
}

.productDetails .btn-circle svg {
    font-size: 18px;
    opacity: 0.8;
    color: #000 !important;
}

.productDetails .btn-circle:hover {
    background: #ccc !important;
}

.detailsPageTabs {
    border-radius: 25px !important;
    background: #fafafa;
}

.detailsPageTabs .table th,
.detailsPageTabs .table td {
    vertical-align: middle;
    font-size: 14px;
}

.detailsPageTabs .table td p {
    margin-bottom: 0;
}

/* Tabs */
.customTabs ul li {
    margin-right: 10px !important;
}

.customTabs ul li button {
    padding: 6px 25px !important;
    font-size: 14px !important;
    text-transform: capitalize !important;
    border-radius: 30px !important;
    color: #000 !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.customTabs ul li button.active {
    background: #233a95 !important;
    color: #fff !important;
}

/* Reviews */
.reviewsCard {
    margin-bottom: 25px !important;
}

.reviewsCard .image,
.reviewsCard .rounded-circle {
    width: 100px;
    height: 100px;
}

.reviewsCard .rounded-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.reviewsCard .rounded-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviewsCard .info {
    width: 85%;
}

.reviewsCard h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.reviewsCard .info p {
    font-size: 13px;
    line-height: 22px;
}

/* Review form */
.reviewForm .form-group {
    margin-bottom: 25px;
}

.reviewForm .form-control {
    font-size: 16px;
    border-radius: 7px !important;
    padding-left: 20px;
}

.reviewForm .form-control {
    height: 50px;
}

.reviewForm .form-control[type="textarea"],
.reviewForm .form-group textarea.form-control {
    height: 200px;
    padding-top: 25px;
}

/* Progress bar */
.progressBarBox {
    margin-bottom: 10px;
}

.progress-bar {
    font-size: 16px;
}